---
name: Wheels

on:
  push:
    tags:
      - "*"
  workflow_dispatch:
  schedule:
    - cron: "30 4 15 * *"

env:
  PIP_DISABLE_PIP_VERSION_CHECK: 1
  PIP_NO_PYTHON_VERSION_WARNING: 1

permissions: {}

jobs:
  wheels:
    name: Building for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-2019, macOS-12, macOS-14]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - uses: pypa/cibuildwheel@v2.21
        env:
          # Only build CPython 3.9, because we have portable abi3 wheels.
          # Only exception are free-threaded builds.
          CIBW_BUILD: "cp39-* cp39-win_arm64 cp313t-*"
          CIBW_ARCHS_LINUX: "auto aarch64"
          CIBW_ARCHS_MACOS: "auto universal2"
          CIBW_TEST_COMMAND: python -Ic "from _argon2_cffi_bindings import ffi, lib; print(lib.ARGON2_VERSION_NUMBER)"
          # https://github.com/pypa/cibuildwheel/pull/1169
          CIBW_TEST_SKIP: "*-macosx_universal2:arm64"
          CIBW_FREE_THREADED_SUPPORT: true

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
...
