---
name: Wheels

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
  schedule:
    - cron: "30 4 15 * *"


jobs:
  wheels:
    name: Building for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - uses: pypa/cibuildwheel@v2.16.1
        env:
          # Only build CPython 3.7, because we have portable abi3 wheels.
          # Windows arm64 is only available on 3.9 and later, Apple Silicon on
          # 3.8 and later.
          CIBW_BUILD: "cp37-* pp37-* pp38-* cp39-win_arm64 cp38-macosx_universal2"
          CIBW_ARCHS_LINUX: "auto aarch64"
          CIBW_ARCHS_MACOS: "auto universal2"
          CIBW_TEST_COMMAND: python -c "from _argon2_cffi_bindings import ffi, lib; print(lib.ARGON2_VERSION_NUMBER)"
          # Silence warning we can't do anything about.
          CIBW_TEST_SKIP: "*-macosx_universal2:arm64"

      - uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: wheelhouse/*.whl
          if-no-files-found: error

...
